{% extends 'base.html' %}

{% block head %}

<title>Profile</title>

{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Password Change</h1>
        <p>
            Please update your password below...
        </p>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Submit pasword"> Submit </button>
        </form>
    </div>
</div>


{% endblock %}
