{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body%}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Please login below...</p>
    </div>
</div>


<div class="container">
    <h2> Credentials: </h2>
    <hr>
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="/reset-password" data-toggle="tooltip" data-placement="top" title="click here to reset!">Forgot your password?</a>
            <hr>
            <br>
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Click here to login">Login</button>
        </form>
    </div>
</div>

{% endblock %}
