{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
    <div class="jumbotron">
        <h1> So you want to join? </h1>
        <p>
            Please register below...
        </p>
    </div>
</div>


<div class="container">
    <h2> Register: </h2>
    <hr>
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {{ field.label }}:&nbsp&nbsp
            {{ field }}
            <hr>
            {% endfor %}
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Register your new profile!">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
