{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body%}
<div class="jumbotron">
    <h1>Password reset</h1>
    <p>
        Forgotten your password? Please reset password below by entering your
        email address. We'll email you instructions for setting up a new one!
    </p>
</div>

<div class="container">
    <h2> Email: </h2>
    <br>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset password</button>
        </form>
    </div>
</div>

{% endblock %}
