{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body%}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Enter new password</h1>
        <p>
            Please enter a new password below..
        </p>
    </div>
</div>


<div class="container">
    <h2> Change password: </h2>
    <br>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Reset password </button>
        </form>
    </div>
</div>

{% endblock %}
